body {
	margin:0;
	position:relative;
}

#header-text sup {
	font-size: .5em;
	padding-right: 12px;
}

#background {
	position: absolute;
	left:5%;
	top:20%;
	background-image:url('../images/flower-unspash-small-dd1.jpg');
	width: 75%;
	height: 75%;
	background-repeat: no-repeat;
	z-index: -100;
	background-size: 75%;
	image-rendering: pixelated;
}

#header {
	width:100%;
	text-align: right;
}

#header-text {
	display:inline-block;
	background: white;
	text-transform: uppercase;
	font-family: 'Cinzel', sans-serif;
	font-size: 50pt;
	text-align: right;
	padding-right:px;
	padding-left:1em;
	margin-top: 100px;
	position: relative;
	z-index: 10;
}

#header-text a {
	text-decoration: none;
	color: black;
}

#sidebar {
	float:left;
	width: 500px;
	top: 400px;
}

#sidebar ul {
	list-style-type: none;
	margin-top: -1em;
}

#sidebar li {
	margin:2em;
	padding: .5em;
	font-family: 'Rubik', sans-serif;
	font-size: 20pt;
	background: white;
	text-align: right;
	width: 100%;
}

#sidebar a:nth-child(2) li {
	width: 90%;
}

#sidebar a:nth-child(3) li {
	width: 80%;
}

#sidebar a {
	text-decoration: none;
	color: black;
}

#content {
	height: 100%;
	overflow: scroll;
	width: calc(100% - 600px);
	right:0;
	position:absolute;
	top: 0;
	z-index: 0;

	font-family: 'Rubik', sans-serif;
	font-size: 20pt;
	font-weight: lighter;

}

#content p {
	background-color: white;
}

#spacer {
	height: 400px;
}

.info {
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	background: white;
	width: 580px;
}

.example {
	display:inline-block;
	width: 580px;
	height: 580px;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
}

.example img {
	max-width: 100%;
	max-height: 100%;
}